*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
	background-color: black;
}

.header{
	background-color: rgb(68, 68, 68);
	height: 180px;
}

.grey-bg{
	background-color: rgb(230, 230, 230);
	float: left;
}

.asides{
	width: 20%;
	height: 75%;
}

.content{
	background-color: #ECECEC;
	height: 65%;
	width: 60%;
	float: left;
}
